body{font-family:Arial;background:#f4f8fc;margin:0;}
header{background:#0A6AEC;color:white;padding:20px;display:flex;align-items:center;gap:10px;}
.icon{width:32px;height:32px;background:#fff;border-radius:50%;}
#examcontainer{padding:20px;}
